{% extends "base.html" %}
{% load datautils %}

{% block content %}
  <article class="ui ten wide column" id="content">
    <div class="ui grid">
      <div class="row">

        <div class="eight wide column">
          <h1 class="ui header">{{ table.name }}</h1>
        </div>
        <div class="eight wide column right aligned">
          <a href="{{ table.get_absolute_url }}/edit/new"><button class="ui button"><i class="edit icon"></i> Edit Fields</button></a>
          <a href="{{ table.get_absolute_url }}/add"><button class="ui button primary"><i class="edit icon"></i> Add Entry</button></a>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <table class="ui basic table">
            <thead>
              <tr>
                {% for field in table.dashfield_set.all %}
                  <th id="field-{{ field.id }}">
					{{ field.name }}

					<i class="edit icon pull right"></i>
                  </th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for data in table.dashentry_set.all %}
                <tr>
                  {% for field in table.dashfield_set.all %}
                    <td>{{ data.json|getitem:field.id }}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
          </table>


          <button class="ui button primary"><i class="edit icon"></i> Add Entry</button>

          <div class="pull right">

            <div class="ui pagination menu">
              <a class="active item">
                1
              </a>
              <div class="disabled item">
                ...
              </div>
              <a class="item">
                10
              </a>
              <a class="item">
                11
              </a>
              <a class="item">
                12
              </a>
            </div>

          </div>

        </div>
      </div>

    </div>
  </article>
{% endblock %}